<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>授权管理后台登录</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <style>
        body {
            background-color: #f2f2f2;
        }
        .login-container {
            width: 400px;
            margin: 100px auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        .login-title {
            text-align: center;
            font-size: 24px;
            margin-bottom: 30px;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h2 class="login-title">授权管理后台</h2>
        <form class="layui-form" action="/sysadmin/login" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="login">登录</button>
                </div>
            </div>
        </form>
    </div>
    <script src="/static/layui/layui.js"></script>
    <script>
        layui.use(['form', 'layer'], function() {
            var form = layui.form;
            var layer = layui.layer;
            
            form.on('submit(login)', function(data) {
                $.post('/sysadmin/login', data.field, function(res) {
                    if (res.code == 1) {
                        layer.msg(res.msg, {icon: 1}, function() {
                            location.href = res.url;
                        });
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'json');
                return false;
            });
        });
    </script>
</body>
</html>