<!DOCTYPE html><!--custom_file(wx_channels)-->
<html>
<head>
  <meta charset="utf-8">
  <title>电子面单模板</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {include file="public/css"/}
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card layui-col-md12">
          <div class="layui-card-header">电子面单模板</div>
          <div class="layui-card-body" pad15>
						<div class="layui-col-md4" style="padding-bottom:10px">
							<button class="layui-btn layui-btn-primary layuiadmin-btn-list" onclick="asyncAllTemplate(0)">同步模板</button>
						</div>
						<div class="layui-form layui-col-md8 layui-form-search">
							<div class="layui-inline">
								<label class="layui-form-label">状态</label>
								<div class="layui-input-inline">
									<select name="status">
										<option value="">全部</option>
										<option value="1">已上架</option>
										<option value="0">未上架</option>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<button class="layui-btn layuiadmin-btn-replys" lay-submit="" lay-filter="LAY-app-forumreply-search">
									<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
								</button>
							</div>
						</div>
						<div class="layui-col-md12">
							<table id="tabledata" lay-filter="tabledata"></table>
						</div>
          </div>
        </div>
    </div>
  </div>
  <div class="layui-form" lay-filter="" style="margin-top:20px; display: none" id="notcelayer">
	  <input type="hidden" id="notice_id" />
	  <div class="layui-form-item">
		  <label class="layui-form-label">订单编号：</label>
		  <div class="layui-form-mid" id="notice_order_id">

		  </div>
	  </div>
	  <div class="layui-form-item">
		  <label class="layui-form-label">备注：</label>
		  <div class="layui-inline">
			  <div class="layui-input-inline">
				  <input type="text" id="notice" class="layui-input">
			  </div>
		  </div>
	  </div>
	  <div class="layui-form-item">
		  <div class="layui-input-block">
			  <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formNotice">确定</button>
		  </div>
	  </div>
  </div>
  <div class="layui-form" lay-filter="" style="margin-top:20px; display: none" id="stock">
	  <div class="layui-form-item">
		  <label class="layui-form-label">查询时间：</label>
		  <div class="layui-inline">
			  <div class="layui-input-inline" style="width:300px;margin-left:0px">
				  <input type="text" id="create_time_range" autocomplete="off" class="layui-input">
			  </div>
			  <div class="layui-form-mid layui-word-aux" style="margin-left:10px;"></div>
		  </div>
	  </div>
  </div>
	{include file="public/js"/}
	<script>
  var table = layui.table;
	var datawhere = {};
  //数据表
  var tableIns = table.render({
    elem: '#tabledata'
    ,url: "{$Request.url}" //数据接口
    ,page: true //开启分页
    ,cols: [[ //表头
			{type:"checkbox"},
      {field: 'id', title: 'ID',  sort: true,width:70},
		  {field: 'delivery_id', title: '快递公司'},
		  {field: 'type', title: '模板类型'},
		  {field: 'desc', title: '模板描述'},
		  {field: 'width', title: '面单宽度'},
		  {field: 'height', title: '面单高度'},
		  {field: 'url', title: '标准模板'},
		  {field: 'custom_config_width', title: '自定义区域宽度'},
		  {field: 'custom_config_height', title: '自定义区域高度'},
		  {field: 'custom_config_top', title: '自定义区域到顶部距离'},
		  {field: 'custom_config_left', title: '自定义区域到左边距离'},
      {field: 'operation', title: '操作',templet:function(d){
				var html = '';
				// html += '<button class="table-btn" onclick="openmax(\'{:url('bill_account')}/id/'+d.id+'\')">查询网点</button>';
				return html;
      }}
    ]]
  });
	//排序
	table.on('sort(tabledata)', function(obj){
		datawhere.field = obj.field;
		datawhere.order = obj.type;
		tableIns.reload({
			initSort: obj,
			where: datawhere
		});
	});
	//检索
	layui.form.on('submit(LAY-app-forumreply-search)', function(obj){
		var field = obj.field
		var olddatawhere = datawhere
		datawhere = field
		datawhere.field = olddatawhere.field
		datawhere.order = olddatawhere.order
		tableIns.reload({
			where: datawhere,
			page: {curr: 1}
		});
	});

	</script>
  <script>
	  function asyncAllTemplate(){
		  layer.confirm('确定要同步吗?',{icon: 7, title:'操作确认'}, function(index) {
			  $.post("{:url('asyncAllTemplateConfig')}", {}, function (data) {
				  layer.close(index);
				  dialog(data.msg, data.status);
				  if (data.status == 1) {
					  setTimeout(function () {
						  parent.layer.closeAll();
						  parent.tableIns.reload();
					  }, 1000)
				  }
			  })
		  })
	  }
	  //日期范围选择
	  layui.laydate.render({
		  elem: '#create_time_range',
		  trigger: 'click',
		  type:'datetime',
		  range: '~' //或 range: '~' 来自定义分割字符
	  });
	  //同步品牌库
	  var $ = layui.jquery
			  ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
	  var next_key = 0;
	  var percent = 0;
	  function asyncAllFlow(type){
		  var orderLayer = layer.open({type:1,area:['600px','400px'],title:'同步资金流水',content:$("#stock"),shadeClose:true,btn: ['确定', '取消'],
			  yes:function(){
				  pagenum = 0;
				  var status = $('#query_status').val();
				  var create_time_range = $('#create_time_range').val();
				  var field = {};
				  field.status = status;
				  field.create_time_range = create_time_range;
				  layer.msg('同步中，请勿刷新或关闭页面', {
					  icon: 16,
					  shade: 0.01,
					  time:false
				  });
				  _tplsend(field);
			  }
		  });
	  }
	  function _tplsend(field){
		  pagenum++;
		  $.ajax({
			  type:'POST',
			  url:"{:url('asyncAllFlow')}/next_key/"+next_key,
			  dataType:'json',
			  data:field,
			  success:function(data){
				  console.log(data);

				  if(data.status==1){
					  next_key = data.next_key;
					  //layer.msg('成功同步'+next_key+'',{offset:'100px'});
					  layer.msg('正在同步'+next_key+'，请勿刷新或关闭页面', {
						  icon: 16,
						  shade: 0.01,
						  time:false
					  });
					  tableIns.reload();
				  }
				  // return false;
				  if(data.status==1 && data.continue_flag){
					  _tplsend(field);
				  }else{
					  if(data.status==1){
						  dialog(data.msg,1);
					  }else{
						  dialog(data.msg,data.status);
					  }
					  setTimeout(function(){
						  parent.layer.closeAll();
						  parent.tableIns.reload()
					  },2000);
				  }
			  },
			  error:function(){
				  layer.close(index);
				  dialog('未知错误',0);
			  }
		  })
	  }

	  function chooseadrShow(){
		  layer.open({type:2,title:'选择地址',content:"{:url('WxChannelsAddress/choosechanelsaddress')}",area:['900px','600px'],shadeClose:true});
	  }
	  function choosechannelsaddress (data) {
		  console.log(data);
		  $("input[name='address_id']").val(data.address_id);
		  $("#address_name").text(data.address_id+'-'+data.name);

	  }
  </script>
	{include file="public/copyright"/}
</body>
</html>