.container{width:100%;display:flex;flex-direction:column}.wx{background:linear-gradient(-90deg,#06a051,#03b269);margin:24rpx 10rpx;padding:5rpx}.zfb{background-color:#0aacf1;margin:24rpx 10rpx;padding:5rpx}.order-box{width:94%;margin:30rpx 3%;padding:6rpx 3%;background:#fff;border-radius:8px}.order-box .head{display:flex;width:100%;border-bottom:1px #f5f5f5 solid;height:88rpx;line-height:88rpx;overflow:hidden;color:#999}.order-box .head .f1{color:#222;font-size:28rpx;font-weight:700}.order-box .op{display:flex;justify-content:center;align-items:center;width:100%;padding:40rpx 0;line-height:50rpx}.order-box .op .btn1{width:420rpx;color:#03b269;border-radius:10rpx;text-align:center;font-size:28rpx;padding:20rpx 40rpx;border:1px solid #03b269}.order-box .op .btn2{width:420rpx;color:#0aacf1;border-radius:10rpx;text-align:center;font-size:28rpx;padding:20rpx 40rpx;border:1px solid #0aacf1}.order-box .op .btn1 image,.order-box .op .btn2 image{width:50rpx;height:50rpx}