<!--custom_file(wx_channels)-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>地址设置</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {include file="public/css"/}
	<style>
	#ggtable .layui-input{ display:inline;height:30px}
	#ggtable .layui-btn{ margin-top:-3px;margin-left:1px}
	</style>
</head>
<script type="text/javascript">
	window._AMapSecurityConfig = {
		securityJsCode:'{$sysset_webinfo["js_code_amap"]}',
	}
</script>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-card layui-col-md12">
				<div class="layui-card-header">
					{if !$info['id']}<i class="fa fa-plus"></i> 添加地址{else}<i class="fa fa-pencil"></i> 编辑地址{/if}
					<i class="layui-icon layui-icon-close" style="font-size:18px;font-weight:bold;cursor:pointer" onclick="closeself()"></i>
				</div>
				<div class="layui-card-body" pad15>
					<div class="layui-form form-label-w6" lay-filter="">
						<input type="hidden" name="id" value="{$info['id']}">
						<input type="hidden" name="info[address_id]" value="{$info['address_id']}">
						<div class="layui-form-item">
							<label class="layui-form-label">收货人：</label>
							<div class="layui-input-inline" style="width:200px">
								<input type="text" class="layui-input" name="addressinfo[user_name]" value="{$info['user_name']}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">联系电话：</label>
							<div class="layui-input-inline" style="width:200px">
								<input type="text" class="layui-input" name="addressinfo[tel_number]" value="{$info['tel_number']}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">邮编：</label>
							<div class="layui-input-inline" style="width:200px">
								<input type="text" class="layui-input" name="addressinfo[postal_code]" value="{$info['postal_code']}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">收货地址：</label>
							<div style="display: flex;flex-direction: column;">
								<div class="areaDiv" style="margin-bottom: 8px">
									<div class="layui-input-inline" style="width: 150px">
										<select name="addressinfo[province_name]" id="province" lay-filter="province" lay-verify="required"></select>
									</div>
									<div class="layui-input-inline" style="width: 150px">
										<select name="addressinfo[city_name]" id="city" lay-filter="city"></select>
									</div>
									<div class="layui-input-inline" style="width: 150px" style="display:none">
										<select name="addressinfo[county_name]" id="district"></select>
									</div>
								</div>
								<div class="adressDiv">
									<div class="layui-input-inline" style="width:500px">
										<input type="text" id="address" name="addressinfo[detail_info]" class="layui-input layui-input-search" value="{$info['detail_info']}">
									</div>
								</div>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">经纬度：</label>
							<div class="layui-input-inline" style="width:150px">
								<input type="text" name="addressinfo[lng]" value="{$info['lng']}" class="layui-input">
							</div>
							<div class="layui-form-mid">-</div>
							<div class="layui-input-inline" style="width:150px">
								<input type="text" name="addressinfo[lat]" value="{$info['lat']}" class="layui-input">
							</div>
							<button class="layui-btn layui-btn-primary" onclick="choosezuobiao()" style="float:left">选择坐标</button>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">门牌号：</label>
							<div class="layui-input-inline" style="width:200px">
								<input type="text" class="layui-input" name="addressinfo[house_number]" value="{$info['house_number']}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">是否发货地址：</label>
							<div class="layui-input-inline">
								<input type="radio" name="info[send_addr]"   value="1" title="是" {if !$info['id'] || $info['send_addr']==1}checked{/if}>
								<input type="radio" name="info[send_addr]"   value="0" title="否" {if $info['id'] && $info['send_addr']==0}checked{/if}>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">是否为收货地址：</label>
							<div class="layui-input-inline">
								<input type="radio" name="info[recv_addr]"   value="1" title="是" {if !$info['id'] || $info['recv_addr']==1}checked{/if}>
								<input type="radio" name="info[recv_addr]"   value="0" title="否" {if $info['id'] && $info['recv_addr']==0}checked{/if}>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">默认发货地址：</label>
							<div class="layui-input-inline">
								<input type="radio" name="info[default_send]"   value="1" title="是" {if !$info['id'] || $info['default_send']==1}checked{/if}>
								<input type="radio" name="info[default_send]"   value="0" title="否" {if $info['id'] && $info['default_send']==0}checked{/if}>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">默认收货地址：</label>
							<div class="layui-input-inline">
								<input type="radio" name="info[default_recv]"   value="1" title="是" {if !$info['id'] || $info['default_recv']==1}checked{/if}>
								<input type="radio" name="info[default_recv]"   value="0" title="否" {if $info['id'] && $info['default_recv']==0}checked{/if}>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">同城配送：</label>
							<div class="layui-input-inline">
								<input type="radio" name="address_type[same_city]"   value="1" title="是" {if !$info['id'] || $info['same_city']==1}checked{/if}>
								<input type="radio" name="address_type[same_city]"   value="0" title="否" {if $info['id'] && $info['same_city']==0}checked{/if}>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">用户自提：</label>
							<div class="layui-input-inline">
								<input type="radio" name="address_type[pickup]"   value="1" title="是" {if !$info['id'] || $info['pickup']==1}checked{/if}>
								<input type="radio" name="address_type[pickup]"   value="0" title="否" {if $info['id'] && $info['pickup']==0}checked{/if}>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label"></label>
							<div class="layui-input-block">
								<button class="layui-btn" lay-submit lay-filter="formsubmit">提 交</button>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
  </div>
	<style type='text/css'>
	.modal-areas .layui-layer-content{ position:static;overflow:visible;height:300px}
	.province { float:left; position:relative;width:210px; height:35px; line-height:35px;border:1px solid #fff;}
	.province:hover { border:1px solid #f7e4a5;border-bottom:1px solid #fffec6; background:#fffec6;}
	.province .cityall { margin-top:10px;}
	.province ul { list-style: outside none none;position:absolute;padding:0;background:#fffec6;border:1px solid #f7e4a5;display:none;width:auto; width:300px; z-index:999999;left:-1px;top:32px;}
	.province ul li  { float:left;min-width:60px;margin-left:20px; height:30px;line-height:30px; position:relative; }
	.province ul li dl { list-style: outside none none;position:absolute;padding:0;background:#fee993;border:1px solid #f7e4a5;display:none;width:auto; width:220px; z-index:9999999;left:-1px;top:0px; margin-left:60px;}
	.province dl dd  { float:left;min-width:60px;margin-left:20px; height:30px;line-height:30px; }
	</style>
	<div id="modal-areas" style="display:none">
	</div> 
	{include file="public/js"/}
  <script src="__STATIC__/admin/js/channels_address3.js"></script>
  <script src="__STATIC__/admin/js/channels_area.js"></script>
  <script>
	  address3('province','city','district',"{$info.province_name}","{$info.city_name}","{$info.county_name}");
  </script>
	<script>
		function choosezuobiao(){
			var address = $("input[name='addressinfo[detail_info]']").val();
			var longitude = $("input[name='addressinfo[lng]']").val();
			var latitude = $("input[name='addressinfo[lat]']").val();
			var choosezblayer = layer.open({type:2,shadeClose: true,area: ['800px', '560px'],'title': '选择坐标',content: "{:url('DesignerPage/choosezuobiao')}&address="+(address?address:"")+"&jd="+(longitude?longitude:"")+"&wd="+(latitude?latitude:""),btn:['确定','取消'],yes:function(index, layero){
					var longitude = layero.find('iframe').contents().find('#mapjd').val();
					var latitude = layero.find('iframe').contents().find('#mapwd').val();
					$("input[name='addressinfo[lng]']").val(longitude);
					$("input[name='addressinfo[lat]']").val(latitude);
					layer.close(choosezblayer);
				}});
		}


	layui.form.on('submit(formsubmit)', function(obj){
		var field = obj.field
		var index = layer.load();
		$.post("{:url('edit')}",field,function(data){
			layer.close(index);
			dialog(data.msg,data.status);
			if(data.status==1){
				setTimeout(function(){
					parent.layer.closeAll();
					parent.tableIns.reload();
				},1000)
			}
		})
	})
  </script>
	{include file="public/copyright"/}
</body>
</html>