.banner{position:absolute;width:100%;height:900rpx}.contentdata{display:flex;flex-direction:column;width:100%;padding:0 30rpx;position:relative;margin-bottom:20rpx}.data{background:#fff;padding:30rpx;margin-top:30rpx;border-radius:16rpx}.data_title{font-size:28rpx;color:#333;font-weight:700}.data_detail image{height:24rpx;width:24rpx;margin-left:10rpx}.data_icon{height:35rpx;width:35rpx;margin-right:15rpx}.data_btn image{height:24rpx;width:24rpx;margin-left:6rpx}.data_module{margin-top:60rpx;width:100%}.data_module .data_module_view{min-width:50%;margin-bottom:20rpx}.data_lable{color:#999}.data_value{font-size:44rpx;font-weight:700;color:#333;margin-top:10rpx}