.page-content{width:100%;padding:30rpx;flex-wrap:wrap}.cover-options{width:337rpx;margin-bottom:20rpx;height:500rpx;border-radius:16rpx;overflow:hidden;position:relative}.cover-options image{width:100%;height:100%}.choose-view{position:absolute;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);bottom:8%;background:#fef7ec;color:#772b26;font-size:26rpx;font-weight:700;padding:10rpx 45rpx;border-radius:40rpx}