.pa_close{float:right;width:40rpx;height:40rpx;border-radius:50%;text-align:center;line-height:30rpx;color:#a3a3a3;border:2rpx solid #a3a3a3}.pa_view{color:#303133;line-height:80rpx;width:700rpx;position:fixed;left:25rpx;background-color:#fff;border-radius:12rpx;z-index:9999999;top:20%;padding:40rpx 20rpx}.pa_wx{width:140rpx;height:60rpx;line-height:54rpx;text-align:center;border-radius:40rpx;font-size:24rpx;margin-top:10rpx}.pa_save{width:400rpx;height:80rpx;line-height:80rpx;text-align:center;color:#fff;border-radius:8rpx;margin:0 auto;margin-top:40rpx}